<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ncst.hospitaloutpatient.mapper.organization.DepartmentMapper">

    <select id="selectDistinctTypes" resultType="java.lang.String">
        SELECT DISTINCT type FROM department
    </select>

    <select id="selectDepartmentsByType" resultType="com.ncst.hospitaloutpatient.model.dto.organization.DepartmentResponse">
        SELECT
            department_id AS departmentId,
            department_name AS departmentName,
            type,
            status
        FROM department
        <where>
            <if test="status != null">
                AND status = #{status}
            </if>

            <if test="type != null and type != ''">
                AND type = #{type}
            </if>
        </where>
        ORDER BY department_id
    </select>

    <select id="selectRolesByDepartmentId" resultType="com.ncst.hospitaloutpatient.model.dto.organization.DepartmentRoleResponse">
        SELECT
            sr.role_id AS roleId,
            sr.role_name AS roleName,
            sr.description AS description
        FROM department_role dr
                 INNER JOIN staff_role sr ON dr.role_id = sr.role_id
        WHERE dr.department_id = #{departmentId}
    </select>

    <insert id="insertDepartment" parameterType="com.ncst.hospitaloutpatient.model.dto.organization.CreateDepartmentRequest">
        INSERT INTO department (department_name, type)
        VALUES (#{departmentName}, #{type})
    </insert>

    <insert id="insertDepartmentRoles" parameterType="map">
        INSERT INTO department_role
        (department_id, role_id)
        VALUES
        <foreach collection="roleIds" item="roleId" separator=",">
            (#{departmentId}, #{roleId})
        </foreach>
    </insert>

    <select id="selectLastInsertId" resultType="int">
        SELECT LAST_INSERT_ID()
    </select>

    <update id="updateDepartment" parameterType="map">
        UPDATE department
        SET department_name = #{req.departmentName},
            type = #{req.type}
        WHERE department_id = #{departmentId}
    </update>

    <delete id="deleteDepartmentRolesByDepartmentId">
        DELETE FROM department_role
        WHERE department_id = #{departmentId}
    </delete>

    <select id="countActiveEmployeesByDeptId" parameterType="int" resultType="int">
        SELECT COUNT(1)
        FROM staff_account sa
        INNER JOIN staff s ON sa.staff_id = s.staff_id
        WHERE s.department_id = #{departmentId}
          AND sa.status = 0
    </select>

    <select id="countByDeptAndStatus" parameterType="int" resultType="int">
        SELECT COUNT(1)
        FROM patient_visit pv
        WHERE pv.department_id = #{departmentId}
        AND pv.current_status != 'FINISHED'
    </select>

    <update id="updateStatus" parameterType="map">
        UPDATE department
        SET status = #{status}
        WHERE department_id = #{departmentId}
    </update>

</mapper>